[submodule "TensorNAS"]
	path = TensorNAS
	url = git@github.com:Laminfr/TensorNAS.git
[submodule "Demos"]
	path = Demos
	url = git@github.com:Laminfr/TensorNAS-Demos.git
[submodule "bar1"]
	branch = master
